[submodule "libs/inih"]
	path = libs/inih
	url = https://github.com/benhoyt/inih.git
[submodule "libs/wingetopt"]
	path = libs/wingetopt
	url = https://github.com/alex85k/wingetopt.git
[submodule "libvgm"]
	path = libvgm
	url = https://github.com/ValleyBell/libvgm.git
